
.success-title{
    font-weight:bold; 
    font-size: 22px;
    letter-spacing: 0px;
    color: #242424;
    /* font-family: "Montserrat", sans-serif; */
}

.success-text{
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 0px;
    color: #333333;
    opacity: 1;
    margin-bottom:0px;

}

.success img{
    width: 100px;
    height: 100px;
}