<div class="dialog-wrapper" *ngIf="data.type == '1'">
    <!-- <div mat-dialog-title>
        <span class="dialog-heading">Select Payment Method</span>
        <i mat-dialog-close class="bi bi-x-circle-fill primary-color"></i>
    </div> -->
    <mat-dialog-content>
        <div class="row ">
            <div class="col-12">

                <div class="success-wrapper">

                    <div class="success text-center">
                        <img src="./assets/images/done_gif.gif" class="mb-4" alt="">
                        <h3 class="success-title">Amount Added!</h3>
                        <p class="success-text" >The amount has been added to <br> your wallet successfully</p>
                    </div>

                </div>


            </div>
        </div>
    </mat-dialog-content>
</div>



<div class="dialog-wrapper"  *ngIf="data.type == '2'">
    <!-- <div mat-dialog-title>
        <span class="dialog-heading">Select Payment Method</span>
        <i mat-dialog-close class="bi bi-x-circle-fill primary-color"></i>
    </div> -->
    <mat-dialog-content>
        <div class="row ">
            <div class="col-12">

                <div class="success-wrapper">

                    <div class="success text-center">
                        <img src="./assets/images/done_gif.gif" class="mb-4" alt="">
                        <h3 class="success-title">Ticket Created!</h3>
                        <p class="success-text" >Ticket has been created <br> successfully</p>
                    </div>

                </div>


            </div>
        </div>
    </mat-dialog-content>
</div>



<div class="dialog-wrapper"  *ngIf="data.type == '3'">
    <mat-dialog-content>
        <div class="row ">
            <div class="col-12">
                <div class="success-wrapper">
                    <div class="success text-center">
                        <img src="./assets/images/done_gif.gif" class="mb-4" alt="">
                        <h3 class="success-title">Enrolled in Offer!</h3>
                        <p class="success-text" >Enrolment has been done<br> successfully</p>
                    </div>
                </div>
            </div>
        </div>
    </mat-dialog-content>
</div>



<div class="dialog-wrapper"  *ngIf="data.type == '4'">
    <mat-dialog-content>
        <div class="row ">
            <div class="col-12">
                <div class="success-wrapper">
                    <div class="success text-center">
                        <img src="./assets/images/done_gif.gif" class="mb-4" alt="">
                        <h3 class="success-title">Request Sent!</h3>
                        <p class="success-text" >Request has been Sent<br> successfully</p>
                    </div>
                </div>
            </div>
        </div>
    </mat-dialog-content>
</div>