<div class="row align-items-center justify-content-between">
    <div class="back-title">
        <h3> <i class="bi bi-arrow-left-short" routerLink="/supplement/supplement-mgmt"></i> <span>Weight / Sizes</span></h3>
    </div>

    <div class="col-12 mt-4">
        <div class="table-responsive">
            <table mat-table [dataSource]="dataSource1" class="w-100">
                <ng-container matColumnDef="s_no">
                    <th mat-header-cell *matHeaderCellDef>Sr.No.</th>
                    <td mat-cell *matCellDef="let element; let i = index;">
                        {{i + 1}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="weight">
                    <th mat-header-cell *matHeaderCellDef>Weight</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element?.size }}
                    </td>
                </ng-container> 

                <ng-container matColumnDef="quantity">
                    <th mat-header-cell *matHeaderCellDef>Quantity</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element?.quantity }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="price">
                    <th mat-header-cell *matHeaderCellDef>Price (MRP)</th>
                    <td mat-cell *matCellDef="let element">
                       KWD {{ element?.mrp }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="price_selling">
                    <th mat-header-cell *matHeaderCellDef>Price Selling</th>
                    <td mat-cell *matCellDef="let element">
                     KWD  {{ element?.sellingPrice }}
                    </td>
                </ng-container>


               
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef>
                            Action

                    </th>
                    <td mat-cell *matCellDef="let element">
                        <div class="action-icon d-flex justify-content-start gap-4 align-items-center">
                            <span class="action-head">
                                <mat-slide-toggle (change)="blockedWeight(element._id,$event)"  [checked]="element.isActive === true"></mat-slide-toggle>
                            </span>
                          



                        </div>

                    </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayedColumns1; sticky: true"></tr>

                <tr mat-row *matRowDef="let row; columns: displayedColumns1"></tr>
            </table>
            <table class="text-center mt-4 " *ngIf="dataSource1.data.length < 1 ">
                <div class="no-data">
                    <h5>No Data Available</h5>
                </div>
            </table>
            <table class="text-center mt-4 " *ngIf=" dataSource1.filteredData.length < 1 && dataSource1.data.length>0">
                <div class="no-data">
                    <h5>No Search Result Found</h5>
                </div>
            </table>
        </div>

        <mat-paginator #MatPaginator1="matPaginator" [pageSizeOptions]="[15, 30, 45]">
        </mat-paginator>

    </div>









</div>