<div class="row align-items-center">
    <div class="col-md-7 col-lg-5 col-xl-3 col-xxl-3 mb-3">
        <div class="search-input">
            <input type="text"  [(ngModel)]="searchKey"class="form-control"  (keyup)="applyFilter($event)" placeholder="Search...">
            <i class="bi bi-search"></i>
        </div>
    </div>





    <div class="col-md-5 col-lg-3 col-xl-9 col-xxl-9 text-md-end mb-3 ms-auto">
        <button color="primary" mat-flat-button class="w-260" (click)="addDialog('500ms','500ms')"> <img src="assets/images/create_new.png" class="me-1"
                alt="create" height="20px"  > ADD ITEM</button>
    </div>



    <div class="col-12 mt-4">

        <div class="table-responsive">
            <table mat-table [dataSource]="dataSource1" class="w-100">
                <ng-container matColumnDef="s_no">
                    <th mat-header-cell *matHeaderCellDef>Sr.No.</th>
                    <td mat-cell *matCellDef="let element; let i = index;">
                        {{i + 1}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="item">
                    <th mat-header-cell *matHeaderCellDef>Customize Item Name</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element?.name }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="price">
                    <th mat-header-cell *matHeaderCellDef>Price </th>
                    <td mat-cell *matCellDef="let element">
                       KD {{ element?.price}}
                    </td>
                </ng-container>

              



                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef class="text-center">
                        Action
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <div class="action-icon d-flex justify-content-start gap-4 align-items-center">
                           
                            <mat-slide-toggle matTooltip="Enable/Disable"
                            (change)="enableDisableadvertisement(element._id, $event)"
                            [checked]="element?.status == true"></mat-slide-toggle>
                           

                            <span class="action-head">
                            
                                <mat-icon matTooltip="Edit" class="text-success">
                                    <img src="assets/images/edit_xxs.png" alt="edit" (click)="editCustamizeItem('500ms','500ms', element)" >
                                </mat-icon>
                                </span>
                           

                            <span class="action-head">
                                
                                <mat-icon matTooltip="Delete" class="text-danger">
                                    <img src="assets/images/delete_list.png" alt="delete" (click)="deleteDialog('500ms', '500ms',element)">
                                </mat-icon>
                                </span>
                           



                        </div>

                    </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayedColumns1; sticky: true"></tr>

                <tr mat-row *matRowDef="let row; columns: displayedColumns1"></tr>
            </table>
            <table class="text-center mt-4 " *ngIf="dataSource1.data.length < 1 ">
                <div class="no-data">
                    <h5>No Data Available</h5>
                </div>
            </table>
            <table class="text-center mt-4 " *ngIf=" dataSource1.filteredData.length < 1 && dataSource1.data.length>0">
                <div class="no-data">
                    <h5>No Search Result Found</h5>
                </div>
            </table>
        </div>
        <mat-paginator #MatPaginator1="matPaginator" [pageSizeOptions]="[15, 30, 45]">
        </mat-paginator>

    </div>









</div>