<!-- <div class="row">
    <div class=" col-12">
        <div *ngIf="termconditonData" class="cms-wrapper" [innerHTML]="termconditonData">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit repellat cumque maxime nisi dicta rem explicabo iusto expedita distinctio dolorum ducimus odio et illum magnam praesentium alias illo odit, sunt ipsam? Quod incidunt, sapiente sequi dolorem eligendi velit, cumque facere eaque molestias veniam obcaecati totam rem ipsum sint quibusdam mollitia sed nemo id. Est eos sunt ea cumque rerum consequatur exercitationem unde minima labore quidem beatae sapiente quas natus repellendus, mollitia ipsam soluta nemo inventore consectetur ratione omnis. Vero, totam. Officiis reprehenderit saepe facere aspernatur consequuntur necessitatibus vero enim. Distinctio corporis veniam illum deserunt est autem alias consequatur ducimus illo.</p>
            </div>
    </div>
</div> -->

<div class="row">
    <div class=" col-12">
        <div class="cms-wrapper">
            <p [innerHTML]="termconditonData"></p>
        </div>
    </div>
</div>