<div class="dialog-wrapper">
    <div mat-dialog-title>
        <span class="dialog-heading">Description</span>
        <i mat-dialog-close class="bi bi-x-circle-fill primary-color"></i>
    </div>
    <mat-dialog-content class="mat-typography">
        <div class="view">
            <p>{{description.description}}</p>
           <!-- <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi, rem voluptate eos veritatis eveniet explicabo hic dolorum corrupti saepe, laboriosam et impedit non facilis repellendus cumque sapiente in molestias ullam nihil? Facere magni aspernatur, quaerat cumque in quo, incidunt doloremque fuga laudantium corrupti, atque quos quod sit nemo sunt esse!</p> -->
        </div>
    </mat-dialog-content>
</div>