
.date-label{
    font-size:14px;
    letter-spacing: 0px;
    color: #242424;
    font-weight: 500;
}

.list-group-horizontal{
    justify-content: space-between;
}

.list-group-item{
    width: 32%;
    text-align: center;
    font-size:18px;
    color: #242424;
    text-transform: capitalize;
    background-color: #CBEEE2;
    border: none;
    padding: 32px 25px;
    font-weight: 400;
    justify-content: space-between;
    border-radius: 12px;
    display: flex;
}

.list-group-item:first-child {
    border-radius: 12px;
    border: none;

}

.list-group-horizontal>.list-group-item:first-child:not(:last-child) {
    border-radius: 12px;
}


.list-group-horizontal>.list-group-item+.list-group-item{
border-left: none;
border-right: none;
}

.list-group-item:last-child {
    border-radius: 12px;
}

.list-group-horizontal>.list-group-item:last-child:not(:first-child) {
    border-radius: 12px;
    border: none;
}

.first{
    background-color: #DCFFF3;
}

.second{
    background-color: #F7EEE1;
}

.third{
    background-color: #F0F7E1;
}