 <div class="auth-panel" style="background-image: url('assets/images/bg.png');" >
    <div class="container">

        <div class="top-logo">
            <img src="assets/images/curve_logo.png" alt="logo">
        </div>

        <div class="row align-items-center justify-content-center">

            <div class="col-md-5">
                <div class="login-card-profile ms-md-auto">


                    <div class="card-content">
                            <img src="assets/images/pending.png" alt="pending">
                            
                            <h6>Your Business Profile has been created successfully !</h6>
                            <p>Please be patience your profile is under the verification process</p>
                    </div>



                    <div class="auth-btn text-center mb-2">
                        <button mat-flat-button class="w-100" color="primary" routerLink = "/login">Okay</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 

