<div class="dialog-wrapper">
    <div mat-dialog-title>
        <span class="dialog-heading">Images</span>
        <i mat-dialog-close class="bi bi-x-circle-fill primary-color"></i>
    </div>
    <mat-dialog-content class="mat-typography">
        <div class="row">
            <div class="col-lg-6 col-xl-4 mb-3" *ngFor="let image of data.element.images">
                <div class="view">
                    <img [src]="image? image : 'assets/images/placeholder.jpg'" alt="">
                </div>
            </div>

          
        </div>
        
    </mat-dialog-content>
</div>