






<div class="dialog-wrapper">
    <!-- <div mat-dialog-title>
        <span class="dialog-heading">Edit Delivery Fare     </span>
        <i mat-dialog-close class="bi bi-x-circle-fill primary-color"></i>
    </div> -->
    <mat-dialog-content>

        <div class="row">
            <div class="col-12 my-2">
                    <div class="logout">

                      <div class="icon-wrapper">
                          <div class="icon-log">
                              <mat-icon>delete</mat-icon>
                          </div>
                      </div>

                        <h4>Are you sure you want to Delete?</h4>


                    </div>

                
        <div class="d-flex justify-content-center gap-2">
                        <button class="w-100" mat-dialog-close mat-flat-button color="accent"(click)="onNoClick()">No</button>
                        <button class="w-100" mat-dialog-close mat-flat-button color="primary" (click)="onYesClick()">Yes</button>
                    </div>


            </div>




                

                
        </div>
    </mat-dialog-content>
</div>