.logout{
    text-align: center;
}


.icon-log{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    background: #CBEEE2 0% 0% no-repeat padding-box;
    border-radius: 50%;    
}

.icon-log mat-icon{ 
    color: var(--primary-color)!important;
}


.icon-log .mat-icon {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
}



.logout h4 {
    font-size: 20px;
    font-weight: 500;
    color: #000;
    margin: 30px 0px;
}

.icon-wrapper{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}