<!-- <div mat-dialog-content>
  <img [src]="data.element.image" alt="food" class="img-fluid">
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onClose()">Close</button>
</div> -->

<div class="dialog-wrapper">
  <div mat-dialog-title>
      <span class="dialog-heading">View Image</span>
      <i mat-dialog-close class="bi bi-x-circle-fill primary-color"></i>
  </div>
  <mat-dialog-content class="mat-typography">
      

      <div class="view-img">
        <img [src]="data.element.image" alt="food">          
      </div>


  </mat-dialog-content>
  <!-- <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Cancel</button>
      <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>
  </mat-dialog-actions> -->
</div>