<div class="custom-tabs">
  <mat-tab-group
    mat-stretch-tabs="false"
    mat-align-tabs="start"
    (selectedTabChange)="onTabChange($event)"
  >
    <mat-tab label="New Order">
      <div class="row align-items-center mt-5">
        
        <div class="col-md-6 col-lg-5 col-xl-3 mb-3">
          <div class="search-input">
            <input
              type="text"
              class="form-control"
              placeholder="Search..."
              [(ngModel)]="searchQuery"
              (keyup)="onSearch1($event)"
            />
            <i class="bi bi-search"></i>
          </div>
        </div>

        <div
          class="col-md-6 col-lg-7 col-xl-2 d-flex justify-content-end justify-content-xl-start mb-3"
        >
          <!-- <div class="custom-form-input select-mat">
            <mat-form-field appearance="outline" class="w-100">
              <mat-select
                disableRipple
                placeholder="Order Type"
                (selectionChange)="serviceFilter($event.value)"
                [(ngModel)]="selectedfilter"
              >
                <mat-option value="0">Pickup</mat-option>
                <mat-option value="1">Delivery</mat-option>
              </mat-select>
            </mat-form-field>
            <select class="form-select">
                        <option value="" selected disabled>Order Type</option>
                        <option value="1">Delivery</option>
                        <option value="2">Pickup</option>
                        <option value="3">Scheduled</option>
                    </select>
          </div> -->
        </div>

        <div
          class="col-xl-7 d-flex flex-wrap align-items-center justify-content-xl-end gap-2 mb-3"
        >
          <form
            [formGroup]="dateForm"
            class="w-100 flex-wrap d-flex gap-2 justify-content-xl-end"
          >
            <div class="d-flex align-items-center gap-2 res-100">
              <label class="date-label">Form</label>
              <div class="custom-date date-w res-100">
                <mat-form-field appearance="outline" class="w-100">
                  <input
                    matInput
                    placeholder="DD/MM/YYYY"
                    [matDatepicker]="picker"
                    formControlName="fromDate"
                  />
                  <mat-datepicker-toggle
                    matIconSuffix
                    [for]="picker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
            </div>

            <div class="d-flex align-items-center gap-2 res-100">
              <label class="date-label">To</label>
              <div class="custom-date date-w res-100">
                <mat-form-field appearance="outline" class="w-100">
                  <input
                    matInput
                    placeholder="DD/MM/YYYY"
                    [matDatepicker]="picker2"
                    formControlName="toDate"
                  />
                  <mat-datepicker-toggle
                    matIconSuffix
                    [for]="picker2"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
              </div>
            </div>

            <button
              mat-flat-button
              color="primary"
              class="px-5"
              (click)="onDateFilter()"
            >
              Apply
            </button>
            <button class="btn btn-outline-success export-btn">
              EXPORT REPORT
            </button>
          </form>
        </div>

        <div class="col-12">
          <div class="order-wrap">
            <h3>
              Total Orders : <span>{{ totalLength1 }}</span>
            </h3>
          </div>
        </div>

        <div class="col-12 mt-3">
          <div class="table-responsive">
            <table mat-table [dataSource]="dataSource1" class="w-100">
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>Order ID</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.orderId }}
                </td>
              </ng-container>

              <ng-container matColumnDef="customer">
                <th mat-header-cell *matHeaderCellDef>Customer</th>
                <td mat-cell *matCellDef="let element">
                  {{ element?.userId?.fullName ? element?.userId?.fullName :'-' }}
                </td>
              </ng-container>

              <ng-container matColumnDef="order_at">
                <th mat-header-cell *matHeaderCellDef>Order at</th>
                <td mat-cell *matCellDef="let element">
                  {{ element?.createdAt | date : "MM/dd/YYYY HH:mm a"  }}
                </td>
              </ng-container>

              <!-- <ng-container matColumnDef="order_type">
                <th mat-header-cell *matHeaderCellDef>Order Type</th>
                <td mat-cell *matCellDef="let element">
                  {{ element?.deliveryOption === 1 ? "Delivery" : "Pickup" }}
                </td>
              </ng-container> -->

              <ng-container matColumnDef="order_details">
                <th mat-header-cell *matHeaderCellDef>Order Details</th>
                <td mat-cell *matCellDef="let element">
                  <button
                    (click)="detailDialog('500ms', '500ms', element,1)"
                    class="btn btn-outline-success btn-sm"
                  >
                    View
                  </button>
                </td>
              </ng-container>

              <ng-container matColumnDef="location">
                <th mat-header-cell *matHeaderCellDef>Location</th>
                <td mat-cell *matCellDef="let element">
                  {{ element?.addressId?.address }}
                </td>
              </ng-container>

              <ng-container matColumnDef="total">
                <th mat-header-cell *matHeaderCellDef>Total</th>
                <td mat-cell *matCellDef="let element">
                  KWD {{ element?.totalAmount }}
                </td>
              </ng-container>

              <ng-container matColumnDef="discount">
                <th mat-header-cell *matHeaderCellDef>Discount</th>
                <td mat-cell *matCellDef="let element">
                  KWD {{ element?.discountedAmount }}
                </td>
              </ng-container>

              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>Action</th>
                <td mat-cell *matCellDef="let element">
                  <div
                    class="action-icon d-flex justify-content-start gap-2 align-items-center"
                  > 

                  <button class="btn btn-primary light-primary " (click)="acceptReject(element?._id , 2)">Accept</button>
                  <button class="btn btn-danger light-danger" (click)="acceptReject(element?._id , 5)">Reject</button>

                    
                  </div>
                </td>
              </ng-container>

              <tr
                mat-header-row
                *matHeaderRowDef="displayedColumns1; sticky: true"
              ></tr>

              <tr mat-row *matRowDef="let row; columns: displayedColumns1"></tr>
            </table>
          </div>

          <mat-paginator
            #MatPaginator1
            [pageSizeOptions]="[5, 10, 15]"
            showFirstLastButtons
            [length]="totalLength1"
            (page)="onPageChange1($event)"
            aria-label="Select page of periodic elements"
          >
          </mat-paginator>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="On-Going Order">
      <div class="row align-items-center mt-5">
        <div class="col-md-6 col-lg-5 col-xl-3 mb-3">
          <div class="search-input">
            <input
              type="text"
              class="form-control"
              placeholder="Search..."
              [(ngModel)]="searchQuery"
              (keyup)="onSearch1($event)"
            />
            <i class="bi bi-search"></i>
          </div>
        </div>

        <div
          class="col-md-6 col-lg-7 col-xl-2 d-flex justify-content-end justify-content-xl-start mb-3"
        >
        
        </div>

        <div
          class="col-xl-7 d-flex flex-wrap align-items-center justify-content-xl-end gap-2 mb-3"
        >
          <form
            [formGroup]="dateForm"
            class="w-100 flex-wrap d-flex gap-2 justify-content-xl-end"
          >
            <div class="d-flex align-items-center gap-2 res-100">
              <label class="date-label">Form</label>
              <div class="custom-date date-w res-100">
                <mat-form-field appearance="outline" class="w-100">
                  <input
                    matInput
                    placeholder="DD/MM/YYYY"
                    [matDatepicker]="picker3"
                    formControlName="fromDate"
                  />
                  <mat-datepicker-toggle
                    matIconSuffix
                    [for]="picker3"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #picker3></mat-datepicker>
                </mat-form-field>
              </div>
            </div>

            <div class="d-flex align-items-center gap-2 res-100">
              <label class="date-label">To</label>
              <div class="custom-date date-w res-100">
                <mat-form-field appearance="outline" class="w-100">
                  <input
                    matInput
                    placeholder="DD/MM/YYYY"
                    [matDatepicker]="picker4"
                    formControlName="toDate"
                  />
                  <mat-datepicker-toggle
                    matIconSuffix
                    [for]="picker4"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #picker4></mat-datepicker>
                </mat-form-field>
              </div>
            </div>

            <button
              mat-flat-button
              color="primary"
              class="px-5"
              (click)="onDateFilter()"
            >
              Apply
            </button>
            <button class="btn btn-outline-success export-btn">
              EXPORT REPORT
            </button>
          </form>
        </div>

        <div class="col-12">
          <div class="order-wrap">
            <h3>
              Total Orders : <span>{{ totalLength2 }}</span>
            </h3>
          </div>
        </div>

        <div class="col-12 mt-3">
          <div class="table-responsive">
            <table mat-table [dataSource]="dataSource2" class="w-100">
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>Order ID</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.orderId }}
                </td>
              </ng-container>

              <ng-container matColumnDef="customer">
                <th mat-header-cell *matHeaderCellDef>Customer</th>
                <td mat-cell *matCellDef="let element">
                  {{ element?.userId?.fullName }}
                </td>
              </ng-container>

              <ng-container matColumnDef="order_at">
                <th mat-header-cell *matHeaderCellDef>Order at</th>
                <td mat-cell *matCellDef="let element">
                  {{ element?.createdAt | date : "MM/dd/YYYY HH:mm a" }}
                </td>
              </ng-container>

              <!-- <ng-container matColumnDef="order_type">
                <th mat-header-cell *matHeaderCellDef>Order Type</th>
                <td mat-cell *matCellDef="let element">
                  {{ element?.deliveryOption === 1 ? "Delivery" : "Pickup" }}
                </td>
              </ng-container> -->

              <ng-container matColumnDef="order_details">
                <th mat-header-cell *matHeaderCellDef>Order Details</th>
                <td mat-cell *matCellDef="let element">
                  <button
                    (click)="detailDialog('500ms', '500ms', element,2)"
                    class="btn btn-outline-success btn-sm"
                  >
                    View
                  </button>
                </td>
              </ng-container>

              <ng-container matColumnDef="location">
                <th mat-header-cell *matHeaderCellDef>Location</th>
                <td mat-cell *matCellDef="let element">
                  {{ element?.addressId?.address }}
                </td>
              </ng-container>

              <ng-container matColumnDef="total">
                <th mat-header-cell *matHeaderCellDef>Total</th>
                <td mat-cell *matCellDef="let element">
                  KWD {{ element?.totalAmount }}
                </td>
              </ng-container>

              <ng-container matColumnDef="discount">
                <th mat-header-cell *matHeaderCellDef>Discount</th>
                <td mat-cell *matCellDef="let element">
                  KWD {{ element?.discountedAmount }}
                </td>
              </ng-container>

              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>Action</th>
                <td mat-cell *matCellDef="let element">
                  <div
                    class="action-icon d-flex justify-content-start gap-4 align-items-center"
                  >
                    <select
                      class="form-select form-table-select"
                      (change)="onStatusChange($event, element?._id)"
                    >
                      <option value="0" selected disabled>Select</option>

                      <option
                        value="4"
                        class="text-success"
                        [selected]="element?.status === 4"
                      >
                        Delivered
                      </option>
                      <!-- <option
                        value="2"
                        class="text-primary"
                        [selected]="element?.status === 2"
                      >
                        In Process
                      </option> -->
                      <option
                        value="3"
                        class="text-info"
                        [selected]="element?.status === 3"
                      >
                        On the Way
                      </option>
                    </select>
                  </div>
                </td>
              </ng-container>

              <tr
                mat-header-row
                *matHeaderRowDef="displayedColumns2; sticky: true"
              ></tr>

              <tr mat-row *matRowDef="let row; columns: displayedColumns2"></tr>
            </table>
          </div>

          <mat-paginator
            #MatPaginator2
            [pageSizeOptions]="[5, 10, 15]"
            showFirstLastButtons
            [length]="totalLength2"
            (page)="onPageChange2($event)"
            aria-label="Select page of periodic elements"
          >
          </mat-paginator>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Past Order">
      <div class="row mt-5">
        <div class="col-md-6 col-lg-5 col-xl-3 mb-3">
          <div class="search-input">
            <input
              type="text"
              class="form-control"
              placeholder="Search..."
              [(ngModel)]="searchQuery"
              (keyup)="onSearch1($event)"
            />
            <i class="bi bi-search"></i>
          </div>
        </div>

        <div
          class="col-md-6 col-lg-7 col-xl-2 d-flex justify-content-end justify-content-xl-start mb-3"
        >
          <div class="custom-form-input select-mat">
            <mat-form-field appearance="outline" class="w-100">
              <mat-select
                disableRipple
                placeholder="Order Type"
                (selectionChange)="serviceFilter($event.value)"
                [(ngModel)]="selectedfilter"
              >
                <mat-option value="0">Pickup</mat-option>
                <mat-option value="1">Delivery</mat-option>
              </mat-select>
            </mat-form-field>
            <!-- <select class="form-select">
                        <option value="" selected disabled>Order Type</option>
                        <option value="1">Delivery</option>
                        <option value="2">Pickup</option>
                        <option value="3">Scheduled</option>   
                    </select> -->
          </div>
        </div>

        <div
          class="col-xl-7 d-flex flex-wrap align-items-center justify-content-xl-end gap-2 mb-3"
        >
          <form
            [formGroup]="dateForm"
            class="w-100 flex-wrap d-flex gap-2 justify-content-xl-end"
          >
            <div class="d-flex align-items-center gap-2 res-100">
              <label class="date-label">Form</label>
              <div class="custom-date date-w res-100">
                <mat-form-field appearance="outline" class="w-100">
                  <input
                    matInput
                    placeholder="DD/MM/YYYY"
                    [matDatepicker]="picker5"
                    formControlName="fromDate"
                  />
                  <mat-datepicker-toggle
                    matIconSuffix
                    [for]="picker5"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #picker5></mat-datepicker>
                </mat-form-field>
              </div>
            </div>

            <div class="d-flex align-items-center gap-2 res-100">
              <label class="date-label">To</label>
              <div class="custom-date date-w res-100">
                <mat-form-field appearance="outline" class="w-100">
                  <input
                    matInput
                    placeholder="DD/MM/YYYY"
                    [matDatepicker]="picker6"
                    formControlName="toDate"
                  />
                  <mat-datepicker-toggle
                    matIconSuffix
                    [for]="picker6"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #picker6></mat-datepicker>
                </mat-form-field>
              </div>
            </div>

            <button
              mat-flat-button
              color="primary"
              class="px-5"
              (click)="onDateFilter()"
            >
              Apply
            </button>
            <button class="btn btn-outline-success export-btn">
              EXPORT REPORT
            </button>
          </form>
        </div>

        <div class="col-12">
          <div class="order-wrap">
            <h3>
              Total Orders : <span>{{ totalLength4 }}</span>
            </h3>
          </div>
        </div>

        <div class="col-12 mt-3">
          <div class="table-responsive">
            <table mat-table [dataSource]="dataSource4" class="w-100">
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>Order ID</th>
                <td mat-cell *matCellDef="let element">
                  #{{ element.orderId }}
                </td>
              </ng-container>

              <ng-container matColumnDef="customer">
                <th mat-header-cell *matHeaderCellDef>Customer</th>
                <td mat-cell *matCellDef="let element">
                  {{ element?.userId?.fullName }}
                </td>
              </ng-container>

              <ng-container matColumnDef="order_at">
                <th mat-header-cell *matHeaderCellDef>Order at</th>
                <td mat-cell *matCellDef="let element">
                  {{ element?.createdAt | date : "MM/dd/YYYY HH:mm a" }}
                </td>
              </ng-container>

              <ng-container matColumnDef="order_type">
                <th mat-header-cell *matHeaderCellDef>Order Type</th>
                <td mat-cell *matCellDef="let element">
                  {{ element?.deliveryOption === 1 ? "Delivery" : "Pickup" }}
                </td>
              </ng-container>

              <ng-container matColumnDef="order_details">
                <th mat-header-cell *matHeaderCellDef>Order Details</th>
                <td mat-cell *matCellDef="let element">
                  <button
                    class="btn btn-outline-success btn-sm"
                    (click)="detailDialog('500ms', '500ms', element,3)"
                  >
                    View
                  </button>
                </td>
              </ng-container>

              <ng-container matColumnDef="location">
                <th mat-header-cell *matHeaderCellDef>Location</th>
                <td mat-cell *matCellDef="let element">
                  {{ element?.addressId?.address }}
                </td>
              </ng-container>

              <ng-container matColumnDef="total">
                <th mat-header-cell *matHeaderCellDef>Total</th>
                <td mat-cell *matCellDef="let element">
                  KWD {{ element?.totalAmount }}
                </td>
              </ng-container>

              <ng-container matColumnDef="discount">
                <th mat-header-cell *matHeaderCellDef>Discount</th>
                <td mat-cell *matCellDef="let element">
                  KWD {{ element?.discountedAmount }}
                </td>
              </ng-container>

              <ng-container matColumnDef="ratings">
                <th mat-header-cell *matHeaderCellDef>Ratings</th>
                <td mat-cell *matCellDef="let element">
                  <button
                    class="btn btn-outline-success btn-sm"
                    (click)="ratingViewDialog('500ms', '500ms', element?.orderRating[0]._id)"
                  >
                    View
                  </button>
                </td>
              </ng-container>

              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef>Status</th>
                <td mat-cell *matCellDef="let element">
                  <span [style.color]="getStatus(element?.status) === 'Delivered' ? 'green' : 
                  getStatus(element?.status) === 'Rejected' ? 'red' : 'black'">
{{ getStatus(element?.status) }}
</span>

             
                </td>
              </ng-container>

              <tr
                mat-header-row
                *matHeaderRowDef="displayedColumns4; sticky: true"
              ></tr>

              <tr mat-row *matRowDef="let row; columns: displayedColumns4"></tr>
            </table>
          </div>

          <mat-paginator
            #MatPaginator4
            [pageSizeOptions]="[5, 10, 15]"
            showFirstLastButtons
            [length]="totalLength4"
            (page)="onPageChange4($event)"
            aria-label="Select page of periodic elements"
          >
          </mat-paginator>
        </div></div></mat-tab
  ></mat-tab-group>
</div>
