<div class="container">
  <div class="top-logo">
    <img src="assets/images/curve_logo.png" alt="logo" />
  </div>
</div>

<div class="auth-panel" style="background-image: url('assets/images/bg.png')">
  <div class="container">
   

    <div class="row align-items-center justify-content-center">
      <div class="col-md-9">
        <div class="login-card-profile ms-md-auto">
          <div class="back-btn" routerLink="/login">
            <i class="bi bi-chevron-left"></i>
          </div>

          <div class="log-top-txt">
            <div class="text-center">
              <h4 class="mt-3">Create Business Profile</h4>
            </div>
          </div>

          <form [formGroup]="BusinessProfileForm">
            <div class="row business-row">
              
             

              <!-- <div class="col-6 my-3 ">
                            <div class="custom-radio bg-radio ms-3 mb-4">
                                <mat-radio-button value="2">Package Restaurant</mat-radio-button>

                            </div>
                        </div> -->

              <!-- <div class="col-md-6">
                <div class="custom-input custom-select mb-4 me-3">
                  <label class="auth-label" >Restaurant Category</label>
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-select multiple formControlName="resCategory" disableRipple [(value)]="restaurantCategoryId?.resCategory[0]" placeholder="Select Category"  (selectionChange)="selectedRes($event)">
                      <mat-option
                        [value]="item._id"
                        *ngFor="let item of resCategoryList"
                        
                        >{{ item?.cuisineName }}</mat-option
                      >
                    </mat-select>
                  </mat-form-field>
                  <mat-error class="text-danger" *ngIf="submitted && f['resCategory'].errors">
                    <span *ngIf="submitted && f['resCategory'].errors['required']">*Restaurant Category is required</span>
                </mat-error>
                </div>
              </div> -->

              <div class="col-md-6">
                <div class="custom-input mb-4 ms-3">
                  <label class="auth-label" >Shop Name</label>

                  <mat-form-field appearance="outline" class="w-100">
                    <input
                      matInput
                      placeholder="Shop Name"
                      formControlName="name"
                      onkeypress="return event.target.selectionStart === 0 ? event.key !== ' ' : true;" 
                    />
                  </mat-form-field>
                  <mat-error class="text-danger" *ngIf="submitted && f['name'].errors">
                    <span *ngIf="submitted && f['name'].errors['required']">*Shop Name is required</span>
                </mat-error>
                </div>
              </div>

              <div class="col-md-6">
                <div class="custom-input me-3 mb-4">
                  <label class="auth-label" >Owner Name</label>

                  <mat-form-field appearance="outline" class="w-100">
                    <input
                      matInput
                      placeholder="Owner Name"
                      formControlName="ownerName"
                      onkeypress="return event.target.selectionStart === 0 ? event.key !== ' ' : true;" 
                    />
                  </mat-form-field>
                  <mat-error class="text-danger" *ngIf="submitted && f['ownerName'].errors">
                    <span *ngIf="submitted && f['ownerName'].errors['required']">*Owner Name is required</span>
                </mat-error>
                </div>
              </div>

              <div *ngIf="this.restaurantCategoryId?.mobileNumber && this.restaurantCategoryId?.SignUpByPhone" class="col-md-6">
                <div class="custom-input ms-3 mb-4">
                  <label class="auth-label" >Email</label>

                  <mat-form-field appearance="outline" class="w-100">
                    <input
                      matInput
                      placeholder="Email"
                      formControlName="email"
                      onkeypress="return event.target.selectionStart === 0 ? event.key !== ' ' : true;" 
                    />
                  </mat-form-field>
                  <mat-error class="text-danger" *ngIf="submitted && f['email'].errors">
                    <span *ngIf="submitted && f['email'].errors['required']">*Email is required</span>
                    <span  *ngIf=" submitted && f['email'].errors['email']">Email must be a valid email address</span>
                </mat-error>
                </div>
              </div>
              <div *ngIf="this.restaurantCategoryId?.email " class="col-md-6">
                <div class="custom-input ms-3 mb-4">
                <label class="auth-label">Mobile Number</label>
                <mat-form-field appearance="outline" class="w-100">
                  <input    matInput placeholder="Enter Mobile Number" formControlName="mobileNumber" minlength="7"
                    maxlength="15"  onkeypress="return event.charCode > 47 && event.charCode < 58;" />
                  <span class="text-white dialcode-title" matTextPrefix>+965</span>
                </mat-form-field>
                <mat-error class="text-danger" *ngIf="submitted && f['mobileNumber'].errors">
  
                  <span *ngIf="f['mobileNumber'].errors['required']">*Mobile Number is required </span>
  
                  <span *ngIf="f['mobileNumber'].hasError('minlength')">*Mobile Number should be of 7 digits long</span>
  
  
                </mat-error>
  
                </div>
              </div>
            </div>
          </form>
          <div class="auth-btn text-center mt-3 mb-2">
            <button
              mat-flat-button
              class="w-50"
              color="primary"
              (click)="createBusinessProfile()"
            >
              Continue
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
