<!-- <div class="row">
    <div class=" col-12">
        <div *ngIf="PrivacyList" class="cms-wrapper" [innerHTML]="PrivacyList">
               <p>{{PrivacyList}}</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum cum ratione minus voluptatem optio a quibusdam corporis? Enim, aspernatur quod voluptatum labore cum exercitationem aperiam officiis maxime fugit facilis! Neque temporibus similique vitae eligendi magnam! Deleniti accusamus labore eum minima deserunt eos, esse explicabo officiis officia dolore sed ratione. Quaerat odio asperiores voluptates quos cumque laboriosam nisi, sint ratione earum ad, molestias iste fugiat accusantium adipisci natus dolorum? Consectetur labore recusandae delectus inventore, tenetur pariatur magnam itaque sed fugit, magni vel deserunt dolore dignissimos molestias blanditiis molestiae vitae in sequi veritatis porro? Quis, necessitatibus nostrum recusandae temporibus cupiditate animi repellat!</p>
               
            </div>
    </div>
</div> -->

<div class="row">
    <div class=" col-12">
        <div class="cms-wrapper">
            <p [innerHTML]="PrivacyList"></p>
            </div>
    </div>
</div>