<div class="dialog-wrapper">
    <div mat-dialog-title>
        <span class="dialog-heading">Preview</span>
        <i mat-dialog-close class="bi bi-x-circle-fill primary-color"></i>
    </div>
    <mat-dialog-content class="mat-typography">
        

        <div class="view-img">
            <img class="img-mockup" src="assets/images/mockup.png" alt="">
            <div class="color-mockup">
                <img src="assets/images/notification_two.png" class="img-fluid">
            </div>
            
        </div>


    </mat-dialog-content>
    <!-- <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>
    </mat-dialog-actions> -->
</div>