.view-img{
    width: 297px;
    /* background-color: var(--primary-color);     */
    height: 560px;
    margin: 0 auto;
    /* background-image: url('/assets/images/mockup.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden; */
}

.view-img {
    position: relative;
    /* overflow: hidden; */
    text-align: center;
}
.view-img img {
    width: 267px;
    height: 560px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}
.color-mockup{
    height: 100%;
    background: var(--primary-color);
    position: absolute;
    top: 0;
    width: 255px;
    border-radius: 30px;
    /* margin: auto; */
    left: 50%;
    transform: translate(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.color-mockup img {
    height: auto !important;
    width: auto!important;
}