<div class="row align-items-center justify-content-between">
    <div class="col-md-12 col-lg-12 col-xl-4 col-xxl-4 mb-3 ">
        <div class="search-input">
            <input type="text"    class="form-control"  placeholder="Search..." 
            (keyup)="applyFilter($event)">
            <i class="bi bi-search"></i>
        </div>
    </div>


    <!-- <div class="col-md-6 col-lg-6 col-xl-6">
        <div class="d-md-flex justify-content-end">
            <div class="view-box">
                <p> Min Order Value For Free Delivery - <strong>{{chargekist?.minOrderToFree}} KWD</strong></p>
            </div>

            <div class="d-flex">
                <div class="view-box view-box1">
                    <p>Delivery Charges -<strong>{{chargekist?.deliveryCharge}} KWD</strong></p>
                </div>
                <div class="edit-view">
                    <img (click)="addDialog('500ms', '500ms','3','' )" src="assets/images/edit_profile.png" alt="edit">
                </div>
            </div>

        </div>
    </div> -->
    <!-- <div class="col-md-6 col-lg-6 col-xl-6">
        <div class="d-md-flex justify-content-end">
            <div class="view-box">
                <p> Min Order Value For Free Delivery - 
                    <strong>{{chargekist?.minOrderToFree === 0 ? '0' : chargekist?.minOrderToFree}} KD</strong>
                </p>
            </div>
    
            <div class="d-flex">
                <div class="view-box view-box1">
                    <p>Delivery Charges - 
                        <strong>{{chargekist?.deliveryCharge === 0 ? '0' : chargekist?.deliveryCharge}} KD</strong>
                    </p>
                </div>
                <div class="edit-view">
                    <img (click)="addDialog('500ms', '500ms','3','' )" src="assets/images/edit_profile.png" alt="edit">
                </div>
            </div>
        </div>
    </div> -->
    


    <div class="col-md-6 col-lg-6 col-xl-3 col-xxl-2  ms-auto mb-3">
        <button color="primary" mat-flat-button class="w-100" routerLink="/supplement/supplement-mgmt/add-edit-supplement">ADD SUPPLEMENT</button>
    </div>

    <div class="col-md-6 col-lg-6 col-xl-4 col-xxl-3 mb-3">
        <button mat-flat-button color="warn" class="w-100 " (click)="chargesDialog('500ms','500ms')">EDIT MINIMUM ORDER VALUE</button>
    </div>



    <div class="col-12 mt-4">
        <div class="table-responsive">
            <table mat-table [dataSource]="dataSource1" class="w-100">
                <ng-container matColumnDef="s_no">
                    <th mat-header-cell *matHeaderCellDef>Sr.No.</th>
                    <td mat-cell *matCellDef="let element; let i = index;">
                        {{i + 1}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="supplement_type">
                    <th mat-header-cell *matHeaderCellDef>Supplement Type</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element?.type }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Name</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element?.name }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="brand_name">
                    <th mat-header-cell *matHeaderCellDef>Brand Name</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element?.brandName }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="size">
                    <th mat-header-cell *matHeaderCellDef>Size</th>
                    <td mat-cell *matCellDef="let element">
                        <button class="btn btn-outline-success btn-sm"  (click)="viewSize(element._id)">View</button>
                        </td>
                </ng-container>

                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef>Description</th>
                    <td mat-cell *matCellDef="let element">
                        <button class="btn btn-outline-success btn-sm" (click)="descriptionView('500ms','500ms',element)" >View</button>
                        </td>
                </ng-container>

                <ng-container matColumnDef="images">
                    <th mat-header-cell *matHeaderCellDef>Images</th>
                    <td mat-cell *matCellDef="let element">
                        <button class="btn btn-outline-success btn-sm" (click)="viewImg('500ms','500ms',element)" >View</button>
                    </td>
                </ng-container>

                <ng-container matColumnDef="created">
                    <th mat-header-cell *matHeaderCellDef>Created On </th>
                    <td mat-cell *matCellDef="let element">
                        {{ element?.createdAt | date :'MM/dd/yyyy'}} | {{ element?.createdAt | date :'h:mm a'}}
                    </td>
                </ng-container>

               
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef>
                            Action

                    </th>
                    <td mat-cell *matCellDef="let element">
                        <div class="action-icon d-flex justify-content-start gap-4 align-items-center">
                            <span class="action-head">
                                <mat-icon  matTooltip="Edit" class="text-success" (click)="editSupplement(element)">
                                    <img src="assets/images/edit_xxs.png" alt="edit">
                                </mat-icon>
                            </span>
                            <span class="action-head">
                                <mat-icon matTooltip="Delete" class="text-danger"
                                    (click)="deleteDialog('500ms', '500ms',element)">
                                    <img src="assets/images/delete_list.png" alt="delete">
                                </mat-icon>
                            </span>


                            <span class="action-head">
                                <mat-slide-toggle matTooltip="Block/Unblock" (change)="blockedSupplement(element._id,$event)"  [checked]="element.isBlocked === true"></mat-slide-toggle>
                            </span>


                        </div>

                    </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayedColumns1; sticky: true"></tr>

                <tr mat-row *matRowDef="let row; columns: displayedColumns1"></tr>
            </table>
            <table class="text-center mt-4 " *ngIf="dataSource1.data.length < 1 ">
                <div class="no-data">
                    <h5>No Data Available</h5>
                </div>
            </table>
            <table class="text-center mt-4 " *ngIf=" dataSource1.filteredData.length < 1 && dataSource1.data.length>0">
                <div class="no-data">
                    <h5>No Search Result Found</h5>
                </div>
            </table>
        </div>

        <mat-paginator #MatPaginator1="matPaginator" [pageSizeOptions]="[15, 30, 45]">
        </mat-paginator>

    </div>









</div>