.view-box{
    background: #E5F9F2 0% 0% no-repeat padding-box;
    border-radius: 92px 0px 0px 92px;
    /* / height: 48px; / */
    display: flex;
    align-items: center;
    padding: 14px 10px;
    border-right: 1px solid #CBEEE2;
}

.view-box p{
   margin-bottom: 0;
    font-size: 12px;
letter-spacing: 0px;
font-weight: normal;
color: #242424;
text-transform: capitalize;
}


.view-box1{
    border-radius: 0px;
    /* / border: none; / */
}

.edit-view{
    /* / border-left: 1px solid red; / */

    background: #E5F9F2 0% 0% no-repeat padding-box;
    border-radius: 0px 92px 92px 0px;
    /* / height: 48px; / */
    display: flex;
    align-items: center;
    padding: 14px 10px;
}

.edit-view img{
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.primary-color{
    font-weight: 600;
    color: #33BD8C;
    cursor: pointer;
    text-decoration: underline;
}