<div class="dialog-wrapper">
    <div mat-dialog-title>
        <span class="dialog-heading">Add Ticket</span>
        <i mat-dialog-close class="bi bi-x-circle-fill primary-color"></i>
    </div>
    <mat-dialog-content class="mat-typography">
        <form [formGroup]="supportForm" (ngSubmit)="Addissue()">
            <div class="row my-3">
                <div class="col-12">
                    
                    
                    <div class="custom-form-input custom-textarea mb-4">
                    
                    <label class="dialog-label mb-2">Describe Your Issue Here</label>
                    <mat-form-field appearance="outline" class="w-100">
                        <textarea matInput placeholder="Type here" formControlName="query" rows="5"></textarea>
                    </mat-form-field>
                    <div *ngIf="submitted && f['query'].errors" class="text-danger">
                        <div *ngIf="f['query'].errors['required']">
                            Issue description is required
                        </div>
                    </div>
                    </div>
                    
                    <div class="text-center">
                        <button  mat-flat-button type="submit" color="primary" class="w-260"
                              >Submit</button>
                    </div>

                </div>
            </div>
        </form>
    </mat-dialog-content>
</div>