.card-content {
  text-align: center;
}
.card-content img {
  width: 135px;
  height: 135px;
}

.card-content h6 {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  margin: 18px 0px 12px 0px;
}

.card-content p {
  font-size: 14px;
  color: #ffffff;
  margin: 0px 22px 28px 22px;
}
